* {box-sizing: border-box;}



body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}


.container {
    border: 10px solid palevioletred;
    border-radius: 10px;
    box-sizing: 40px;
    margin-top: 20px;
    padding: 50px;
    width: 45%;
}

